* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
     background: url("../images/g.jpg") no-repeat center center
      fixed; 
    
  
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
/* register page */
.register-container {
    backdrop-filter: blur(30px);
    box-shadow: 0 0px 0px 30px rgba(227, 228, 237, 0.37);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .register-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f2efee;
  }
  
  .register-form .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .register-form .input-group label {
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    color: #f5f5dc;
  }
  
  .register-form .input-group input[type="text"],
  .register-form .input-group input[type="password"],
  .register-form .input-group input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .register {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-form button {
    padding: 10px 25px;
    background-color:  #4424a5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-form button:hover {
    background-color: #4424a5;
  }
  
  .register-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .register-link a {
    color: #f2f4f8;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  .login-link{
   color: aqua;
    text-align: center;
    margin-top: 10px;
  }

  .login-link a{
    color: #f2f4f8;
    text-decoration: none;
  }

  .login-link a:hover {
    text-decoration: underline;
  }
  
  