/* navbar */
.bg-blue{
    background-color: #031b4e;
}
.navbar-scrolled{
    background-color: #031b4e;
    color: rgb(255, 255, 255);
  }
  .btn-banner {
    margin-top:-250px;
}
#footer1{

  background-color: #031b4e;
  color: white;

}

